
.dx-scheduler-work-space-month .dx-scheduler-date-table-cell {
  height: 100px;
  vertical-align: top;
  text-align: right;
  color: #959595;
}
.dx-scheduler-date-table-cell {
  height: 25px;
}

.dx-scheduler-time-panel-cell {
    height: 25px;
}
